# Configurações do Banco de PRODUÇÃO
PROD_DB_HOST=seu-host-de-producao.com
PROD_DB_PORT=5432
PROD_DB_USERNAME=seu-usuario-prod
PROD_DB_PASSWORD=sua-senha-prod
PROD_DB_DATABASE=seu-banco-prod

# Configurações do Banco LOCAL
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_USERNAME=postgres
LOCAL_DB_PASSWORD=postgres
LOCAL_DB_DATABASE=brk_competition_dev 